[2019-08-02 15:07] vikramkhatri opened #1 "Autocert for updating the secret that has the certificates"
Hi - The simplicity of your implementation is indeed very impressive.

I have a use case. My Istio ingress certificates are stored in a secret and then the Ingress pod consumes it from the secret and then pushes it to the memory of the target service. For example:

[code]

Now, the above will be consumed by the Istio Ingress gateway automatically since I have defined a gateway that defines the sec

[2019-08-09 21:08] mmalone commented on #1
Hey @vikramkhatri, sorry for the delayed response.

Short answer... If you're running `autocert`, and assuming the istio ingress will notice when the secret is updated, the easiest solution here is probably to simply launch a container that gets a certificate from autocert and runs a job to periodically put it in the kubernetes resource for your ingress controller.

The podspec would look somethin

[2019-08-10 16:36] servicemeshbook commented on #1
Hi @mmalone - actually that will be very interesting. Please let me have access and I will be willing to test this in my Istio set up. Istio's SDS is pretty good as cert and key are not mounted and they remain in memory - I think a better implementation from security standpoint. Thanks for step. This is awesome.

[2019-08-10 23:48] servicemeshbook commented on #1
After I started autocert using helm:
[code]

I am trying to test `hello-mtls` example and getting this error:

[code]

I have labeled default namespace.
[code]

What did I miss?

[2019-08-12 23:37] servicemeshbook commented on #1
One suggestion - Linkerd does service to service communication mTLS automatically and they have their own CA that does this. It does not secure traffic between an Ingress gateway to the edge service as that is specific to a type of ingress controller one is using. Linkerd leaves that function to the end-users. Istio provides its own Ingress and Egress gateways but Istio does not cover certificate

[2019-09-06 15:35] Adelbertt opened #2 "autocert-step-certificates-0 crashloop"
### Subject of the issue
Hi, we tried deploying it through helm in one of our AKS cluster. Whenever we install it, autocert-step-certificates-0 crashloop and the logs show this :

[code]

but if i deploy it with minikube using the same Kubenetes version i have no issue.

Any idea?

### Environment
* Kubernetes version: 1.13.10
* Cloud provider or hardware configuration: Azure AKS
* OS (e.g., from

[2019-09-07 06:11] mmalone commented on #2
Hey, weird. Thanks for the detailed issue. We’ll look into this and see if we can figure out what’s going on. We haven’t tested on AKS so might have to give it a spin.

From the stack trace it looks like `step-ca` is blowing up on opening the lock file for its database (badgerdb by default). The core `step-ca` features don’t actually require persistence so, as a workaround, you might try disabling

[2019-09-09 16:14] Adelbertt commented on #2
Thanks, deleting the "db" key solved the issue the pods stopped crashing. Now im trying the mtls-nginx exemple and im getting this :
[code]

[2019-09-10 15:46] mmalone commented on #2
Ok so it looks like the previous problem definitely has something to do with persistence!

The new problem looks like a permissions issue in the cluster, I think. The `autocert` webhook creates secrets for other pods to consume. It looks like it's failing when it tries to create the secret. I'm guessing that's because it doesn't have the right permissions.

Try applying this YAML, replacing `<auto

[2019-09-11 02:30] maraino commented on #2
My current guess here is that the `storageClass` provisioner used is `kubernetes.io/host-path` and it requires `root` permissions to write, but step-ca runs on the `step` user.

[2019-09-11 16:02] Adelbertt commented on #2
Either i forgot to do something or im really good a hitting problems ... the replica set goes through now. but the hello-tls image crashloop and logs show this.

[code]

[2019-09-11 21:32] maraino commented on #2
@Adelbertt I've updated `step-certificates` and `autocert` charts with fixes for these issues:

1. To fix the permission denied issue, we need to run `step-ca` as root. To do this we need to set the step-certificates variable `ca.runAsRoot=true`. The command to install autocert will be:

[code]

2. With both autocert and step-certificates running in kubernetes you need to enable autocert in the na

[2019-09-11 21:32] #2 closed

[2019-09-25 22:28] etfeet opened #3 "autocert doesn't create certificates for kubernetes statefulset workloads"
### Subject of the issue
kubernetes StatefulSet do not get certificates requested / deployed to the pod

### Environment
Kubernetes version:
client: 1.15.4
server: 1.12.8
Cloud provider or hardware configuration:
gke
* OS (e.g., from /etc/os-release):
Centos 7
* Kernel (e.g., `uname -a`):
Linux elasticsearch-master-0 4.14.127+ #1 SMP Tue Jun 18 23:08:40 PDT 2019 x86_64 x86_64 x86_64 GNU/Linux

Ins

[2019-09-25 23:14] maraino commented on #3
@etfeet Can you check that you've enabled the label in the desired namespace? For example:
[code]
If it's not just simply do:
[code]
You can see more details [here](https://github.com/smallstep/autocert#usage)

I've checked with the most simple statefulset that I can think and it worked properly:
[code]
Here is my yaml
[code]

Can you check that your statefulset has the annotation in the right pla

[2019-09-25 23:27] etfeet commented on #3
ahah! i found the problem - the metadata label app name and the annotation name did not match. I fixed them and now its working.

[2019-09-25 23:27] #3 closed

[2019-09-30 20:51] etfeet opened #4 "best way to create certificate for each pod in a deployment"
How would I go about creating per pod certificate annotations?

Looking through the kubernetes / helm docs I'm  not seeing an easy way. From what i can see i can only add the annotations after the pod has been created but then the certificates won't get created/injected since the init container for pod will have already run. I can create a annotation for the deployment but that just creates a sing

[2019-09-30 21:49] maraino commented on #4
Hi @etfeet, to be clear, are you asking for different SANs for each replica in a deployment resource?

[2019-09-30 21:55] etfeet commented on #4
yes

[2019-09-30 22:01] maraino commented on #4
We're a little confused here. Do you have a different service per pod (I really don't know how to do that in k8s)?
Can you provide more information about your architecture and what you want to achieve?

[2019-09-30 22:28] etfeet commented on #4
I have a single service. However, we have legal requires where all of our transport traffic needs to be tls/ssl terminated (including the backends).

I'm Trying to deploy a single elasticsearch cluster with 3 nodes (replicas) and have the transport traffic between the replicas be https only. However, i need to be able to deploy a ssl certificate to each replica that contains the name of the specif

[2019-09-30 22:36] maraino commented on #4
Right now each replica will have its own cert, so the traffic will be encrypted, the only thing is that the SAN will be the same.

In any case, you're pointing to a really good scenario, and we should think about how we can add support for this.

It's not ideal, but right now you can try to create 3 different deployments.

[2019-09-30 22:51] mmalone commented on #4
The autocert webhook admission controller gets called by kubernetes on _pod_ creation... so it'll get called per-pod, not per-deployment. If there's some way to create the pods outside of a deployment with the appropriate annotation that should work. It sounds like that's what you were trying to do in your first comment, but had trouble. I'm not sure if that's possible either, but if someone who k

[2019-10-01 00:57] etfeet commented on #4
would it be possible to expose the pod name and cluster domain to the bootstrap container? Looking at the controller code it looks like there's only a couple things that need to be changed to facilitate that.

`
func mkBootstrapper(config *Config, commonName string, podName, clusterDomain, namespace string, provisioner *ca.Provisioner) (corev1.Container, error) {
...
	b.Env = append(b.Env, corev1.

[2019-10-01 01:17] maraino commented on #4
Sure it will, it makes sense to add POD_NAME, CLUSTER_DOMAIN, and NAMESPACE.
I think I'll be able to push something tomorrow, but in the meantime, perhaps HOSTNAME might be useful.

[2019-10-02 20:13] maraino commented on #4
Hi @etfeet, I've been testing this, and the problem with the pod name, is that in a deployment is usually blank, if this is blank kubernetes also defines the GeneratedName. But this is not totally unique.

For example, for the deployment from [here](https://github.com/smallstep/autocert#annotate-pods-to-get-certificates) but with 3 replicas:
[code]
The `pod.Name` is `""` and the `pod.GenerateName`

[2019-10-02 21:54] etfeet commented on #4
I think we should be able to get it working using the HOSTNAME.
for our use-case we have other reasons to need to use an init container anyways - we need the private key to be an rsa key not ec for elasticsearch and a couple other java based apps we use. We have some other services that need the keys injected into java keystore and truststore files as well so it makes sense to modify the init imag

[2019-10-02 22:02] maraino commented on #4
By default, we generate elliptic curve certificates, but if you integrate directly with the step-certificates instead of using autocert, you can get an RSA certificate signed. You can do it with the `step` cli or programmatically doing requests to `/sign` and `/renew`.
We have a client implementation in go here https://github.com/smallstep/certificates/blob/master/ca/client.go

Adding custom annot

[2019-10-02 22:08] maraino opened #5 "Add annotation to define the type of key"
### What would you like to be added
Add a new annotation that allows the user to get an RSA/EdDSA instead of an ECDSA certificate.

### Why this is needed
See https://github.com/smallstep/autocert/issues/4#issuecomment-537698075

[2019-10-02 22:17] etfeet commented on #4
would doing this inside the init container work to get an rsa key instead of EC?
step ca certificate test.local test.crt test.key --kty RSA
I was under the impression the init container was requesting and issuing the certificate.

[2019-10-02 22:29] maraino commented on #4
As you are not going to be able to interact with the command you will need to split the command in two:
[code]
or just:
[code]

You might need `--force` to force the overwrite of the certificates, and with a valid cert you can renew it using `step ca renew --daemon test.crt test.key`.

The renew command can also send signals or execute an script to force elasticsearch to re-read the certificate if

[2019-10-29 17:31] sourishkrout opened #6 "Move `autocert` to go modules"

[2019-11-21 09:19] fpicot opened #7 "restrictCertificatesToNamespace behavior is counter intuitive"
The current config parameter restrictCertificatesToNamespace behavior is to reject an annotation that match another namespace, but accept any annotation that doesn't match clusterDomain.
Eg : if my cluster domain is cluster.local, and the namespace is default, it will prevent me to get a cert for other-namespace.svc.cluster.local, but will accept things like default.svc.cluster.tld or www.google.c

[2019-11-21 11:26] fpicot opened #8 "Autocert can't be built since certificates >0.10.0 and cli>0.10.0"
### Subject of the issue
Trying to build autocert leads to a lot of issues :
* We encounter a  [known issue ](https://github.com/russross/blackfriday#known-issue-with-dep) between blackfriday and dep. This can be fixed by adding an override in Gopkg.toml to force blackfriday 1.5.2 and run dep ensure -update
* We then get an issue compiling nosql/badger. No clue what's going on here, only way to mo

[2020-02-01 03:19] Alevsk opened #10 "Add AUTO_START flag to init/autocert.sh"
### What would you like to be added

Add and environment variable `AUTO_START` to avoid the need for a user to type a key when running the `kubectl run autocert-init -it --rm --image smallstep/autocert-init --restart Never`

### Why this is needed

- for automating the installation of autocert using `kubectl` commands on a bash script, ie: `kubectl run autocert-init -it --rm --image smallstep/auto

[2020-03-06 23:21] #10 closed

[2020-07-07 17:39] sourishkrout commented on #8
Fixed with move to go modules.

[2020-07-07 17:39] #8 closed

[2020-07-07 17:39] sourishkrout commented on #6
Done with https://github.com/smallstep/autocert/pull/12.

[2020-07-07 17:39] #6 closed

[2020-07-07 17:46] sourishkrout commented on #1
Closing. Feel free to reopen if you have more questions.

[2020-07-07 17:46] #1 closed

[2020-08-19 10:27] blmhemu opened #15 "This does not run on RPI (aarm64)"
### What would you like to be added
Support for aarm64

default          pod/autocert-step-certificates-0             0/1     CrashLoopBackOff   6          9m13s
default          pod/autocert-854c8956dd-mp7j5                0/1     Running            6          9m13s
default          pod/autocert-lg46f                           0/1     Error              0          9m13s
default          pod/autoc

[2020-08-24 16:57] dopey commented on #15
Thanks @fastlorenzo! Going to close this, but please reopen if you're still finding an issue.

[2020-08-30 19:08] gclawes commented on #15
I'm seeing this on rpi4:
[code]

It looks like there are not arm64 images on dockerhub: https://hub.docker.com/r/smallstep/autocert-controller/tags

[2020-08-30 20:17] fastlorenzo commented on #15
FYI, I've built and published docker images that support ARM on docker hub: https://hub.docker.com/r/fastlorenzo/autocert-controller

[2020-09-01 17:33] dopey commented on #15
@fastlorenzo @gclawes Sounds like we need aarm64 (& others) builds of auto-cert, not just `certificates`. I'll go ahead and re-open this one.

Hopefully it's not too difficult to port over the `buildx` stuff that we've got doing this in `certificates`.

[2020-09-01 17:47] fastlorenzo commented on #15
@dopey I've actually rebuilt all docker images with arm support:
- https://hub.docker.com/r/fastlorenzo/autocert-init
- https://hub.docker.com/r/fastlorenzo/autocert-controller
- https://hub.docker.com/r/fastlorenzo/autocert-bootstrapper
- https://hub.docker.com/r/fastlorenzo/autocert-renewer
- https://hub.docker.com/r/fastlorenzo/step-ca-bootstrap

[2020-09-01 17:49] fastlorenzo commented on #15
FYI I did it with GitHub workflow leveraging buildx: https://www.github.com/fastlorenzo/autocert/tree/master/.github%2Fworkflows

[2020-09-01 20:24] maraino commented on #15
@fastlorenzo wow, thanks for creating those workflows, we don't have yet experience with GitHub workflows, but we might integrate them in autocert.

[2020-09-01 22:07] fastlorenzo commented on #15
Awesome, looking forward to have arm support in official docker builds :)

[2020-11-11 11:22] maxliu007 opened #17 "File not found when run with java"
Cannot locate the file when start up java gRPC server with Spring Boot. I can list the 3 files if my app not using them which run smoothly that I can get into the container to list those 3 files.
 Here is the deployment yml:
![image](https://user-images.githubusercontent.com/54350267/98805613-d38bba00-2452-11eb-8b2d-86f5e7dc491e.png)

![image](https://user-images.githubusercontent.com/54350267/988

[2020-11-11 23:18] maraino commented on #17
Is autocert enabled in the namespace? See https://github.com/smallstep/autocert#enable-autocert-per-namespace

Do you have an autocert sidecar container? Can you exec in it and see if the certs are in `/var/run/autocert.step.sm`

[2020-11-12 09:45] maxliu007 commented on #17
Just verified, it was due to the Spring Framework 's Resource class. "file:" prefix is required to prepend to the file path.
e.g. /var/run/autocert.step.sm/root.crt -> "file:/var/run/autocert.step.sm/root.crt". It works now.
**It is NOT an autocert issue or bug.**

I am using Java gGPRC server backed by Netty, we cannot use the "site.key" directly without the conversion :
openssl pkcs8 -topk8 -inf

[2020-11-12 18:51] maraino commented on #17
@maxliu007 The problem is that the same is true the other way around. Something that we can do is add options to save the file using PKCS#8

You can also use just `step` for that:
[code]

[2020-11-12 19:13] maraino opened #18 "Add support for storing the private keys using PKCS #8"
### Description

Some frameworks do not support `PKCS #1` OR `SEC1 EC` formats for the private key and require the use of `PKCS #8`.
See https://github.com/smallstep/autocert/issues/17#issuecomment-725966689

We should add options to the bootstrapper and renewer for using `PKCS #8`

Depends on https://github.com/smallstep/cli/issues/387

[2020-11-12 19:14] maraino commented on #17
I'm going to close this issue as I already created issues in `step` and autocert to support `PKCS  #8`
https://github.com/smallstep/cli/issues/387
https://github.com/smallstep/autocert/issues/18

[2020-11-12 19:14] #17 closed

[2020-11-13 02:02] maxliu007 opened #19 "How to adjust the duration for a cert?"
How long can a cert last for by default? Align with step?
1. site.crt
2. root.crt

How can we adjust the duration for both?
How and when renewal of certs will be executed?
It is not that easy for an App to cater the cert renewal in fact.

[2020-11-13 23:01] maraino commented on #19
To configure the validity of `site.crt` look for the `autocert.step.sm/duration` anotation in https://github.com/smallstep/autocert#annotate-pods-to-get-certificates

But take into account that the provisioner in the configMap used to store the ca.json needs to support that duration, by default the default and maximum durations are set to 24h. So to increase that duration you will need to configur

[2020-11-13 23:02] maraino commented on #19
I'm closing the issue, if you need more help you can add a discussion in https://github.com/smallstep/certificates/discussions

[2020-11-13 23:02] #19 closed

[2020-11-18 12:50] joaoantunes opened #20 "IdentityServer4 integration (C#) mTLS"
I'm using IdentityServer4 (C#): is an OpenID Connect and OAuth 2.0 framework for ASP.NET Core.

I will host IdentityServer4 using Kubernetes + SQL Database for storing client information. In order to validate the client and issuing the JWT tokens, we need to register the client information on the Database. [This requires to store the ClientId and Client Secret (thumbprint of the Certificate or Cer

[2020-11-18 23:44] maraino commented on #20
@joaoantunes

I don't know anything about IdentityServer4,  and I don't really understand all the scope of what you're trying to do, but let me try to answer some of your questions.

First `autocert` uses JWT tokens to get the X.509 certificates (TLS) from `step-certificates` (aka `step-ca`), those JWT tokens are generated by autocert using a shared key between `autocert` and `step-ca`. It doesn't

[2020-11-24 18:35] sourishkrout opened #21 "Autocert: respect federation root bundles"
### What would you like to be added

Deploy federation bundles alongside root CA bundle and leaf certificate into containers. Both for first cert enrollment and successive cert renewals.

### Why this is needed

step already supports federation and autocert users should have the ability to take advantage of connecting across federated roots.

[2020-11-24 18:36] sourishkrout opened #22 "Autocert: Consider adding verification web hook for restrictCertificatesToNamespace"
### What would you like to be added

Consider adding a verification web hook to check validity of pod identity annotation against namespace to bubble up errors to kubectl at manifest application time.

### Why this is needed

Currently, users have to tail the autocert controller logs for potential errors with namespace/identity mismatches and other errors. kubectl will fail more or less silently.

[2020-11-24 18:37] dopey commented on #21
https://github.com/smallstep/autocert/blob/master/bootstrapper/bootstrapper.sh#L12

[2020-11-24 18:37] sourishkrout opened #23 "Autocert: Add more docs for restrictCertificatesToNamespace"
### What would you like to be added

Now that autocert can restrict certificates SANs to only be issued within its respective namespace documentation is required to explain the feature and its usage. Let's add this to the docs.

### Why this is needed

While this feature is beneficial to enforce namespace-level security, it might have impacts on the user experience which is why we want to highligh

[2020-11-24 18:53] dopey commented on #15
Update all Dockerfiles to most recent cli version. Hopefully that's the fix.

[2020-11-24 18:58] dopey commented on #15
https://github.com/smallstep/autocert/blob/master/controller/Dockerfile
https://github.com/smallstep/autocert/blob/master/bootstrapper/Dockerfile
https://github.com/smallstep/autocert/blob/master/renewer/Dockerfile
https://github.com/smallstep/autocert/blob/master/init/Dockerfile

[2020-11-24 19:00] dopey commented on #15
https://github.com/smallstep/autocert/blob/master/init/Dockerfile#L14

[2020-11-24 23:19] dopey commented on #15
Hey @blmhemu our thinking is that most of the issue is the v0.14.2 of cli hardcoded in a number of different files that I listed above. We're wondering if changing that to v0.15.3 and also updating the autocert/init dockerfile to use the correct linux distro (`amd64`, `arm`, etc.).

If anyone has an arm kubernetes cluster and can test if this would work, we'd be very appreciative.

[2020-11-26 03:20] gclawes commented on #15
I've got an RPI cluster I can test with.

[2020-12-01 18:51] dopey commented on #20
Hey @joaoantunes let us know if you're still experiencing issues or have more questions. Otherwise, we'll mark the issue closed for the time being.

[2021-01-19 11:13] tiagoposse commented on #15
I can confirm the following values work are able to provision certs on an arm64 k3s cluster:
[code]

[2021-01-22 09:19] tiagoposse commented on #15
I can confirm that I was able to deploy autocert and issue certs successfully using @fastlorenzo images.

My values.yml file looks like this:
[code]

[2021-01-22 22:32] reesericci opened #27 "Ingress"
### What would you like to be added
Secure kubernetes ingresses with autocert.
### Why this is needed
 To make it easy to issue certificates to an ingress controller and terminate tls at the ingress.

[2021-01-25 19:34] maraino commented on #27
This is right now not possible with autocert. The current version of autocert injects containers in pods that takes care of authorizing the first certificate, and take care of the renewals.

To make it available on ingresses you need to save the certificates in a `kubernetes.io/tls` resource, and monitor them to refresh them. Right now this is not something autocert is ready to do. However it woul

[2021-01-25 19:36] reesericci commented on #27
ok cool. my cluster dns is out of whack currently :)

[2021-02-10 09:05] tiagoposse commented on #15
Considering using step-cli 0.15.0 fixes support for ARM64, any chance of releasing new images for release 0.13.0 with arm support?

[2021-04-16 22:12] dopey opened #30 "If `sans` annotation is empty then apply the commonName as the only SAN"

[2021-04-19 08:51] etasi commented on #30
The offending code seems to be here https://github.com/smallstep/autocert/blob/220f932bddbfaf720b3cda722e414ca203939dcb/controller/main.go#L474 as Michael Malone has already pointed out in the community chat. When sansAnnotationKey is not explicitly set per "autocert.step.sm/sans" annotation, the common name (admissionControllerAnnotationKey) should be set as the only sans.

[2021-04-20 21:57] #30 closed

[2021-04-25 09:01] john92630 opened #32 "John92630"
### Subject of the issue
Describe your issue here

### Environment
* Kubernetes version:
* Cloud provider or hardware configuration:
* OS (e.g., from /etc/os-release):
* Kernel (e.g., `uname -a`):
* Install tools:
* Other:

### Steps to reproduce
Tell us how to reproduce this issue

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Additional

[2021-04-26 17:17] maraino commented on #32
@john92630 did you find an issue?

[2021-04-27 15:57] etiennejournet opened #33 "Autocert + sidecar proxy"
Hey all ! I wonder if you would consider adding a sidecar proxy to the feature list of Autocert.

I was thinking that :
- on an annotation (autocert.step.sm/inject: true), the operator could add the sidecar (e.g envoy) and provide certificates.
- The sidecar pod mount certificates, takes on network and does TLS proxy passthrough
- Optionnaly, the proxy is able to refresh itself when certs are rene

[2021-04-27 17:20] dopey commented on #32
Let us know if the issue keeps coming up. Closing for now.

[2021-04-27 17:20] #32 closed

[2021-04-27 20:29] dopey commented on #33
Hey @etiennejournet, thanks for opening the issue! Discussed this morning with the team so I'll try to do a brain dump of our discussion.

tl;dr We think it's best to implement a sidecar proxy as a separate project. We'd be very willing to add hooks / make modifications to autocert to support such a project.

Autocert is intended to do one thing well - generate cert and place said cert in a pod. I

[2021-04-28 08:02] etiennejournet commented on #33
Thanks for your honest response ;) I will get back to you if I decide to do something ;)

[2021-05-10 19:11] maraino commented on #4
@jack4it interesting approach, I'll bring this to our open-source triage meeting.

[2021-05-12 02:02] jack4it commented on #4
What if we secure the `/token` endpoint? i.e. leveraging [service account token volume projection](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection). essentially, let admission controller projects a token with the audience set to the controller which in turn calls the standard `TokenReview` API to validate the token. that w

[2021-05-12 02:08] jack4it commented on #4
but the acme approach is also not bad as long as [the IP address support](https://github.com/smallstep/certificates/issues/410#issuecomment-833784998) is implemented. i was actually looking at that option too

[2021-05-18 17:27] dopey commented on #4
That's an interesting idea (with reference to the service account token volume projection)!

* We definitely want IP address support for ACME.
* The service account token bit is interesting. Is it generally available? (i.e. in GKE, EKS, AKS, other major distros). When we looked at it a few years ago it was still very much in beta.
* Do we need to do anything for this to work? Our understanding of

[2021-05-19 15:53] JackSinclairT opened #34 "no alternative certificate subject name matches target host name 'hello-mtls.default.svc.cluster.local'"
### Subject of the issue
When following the steps to setup autocert for the hello-mtls server and hello-mtls-client pods, the following error occurs on the hello-mtls client pod:

"no alternative certificate subject name matches target host name 'hello-mtls.default.svc.cluster.local'"

The same occurs when curling manually via kubectl exec on the hello-mtls-client pod.
curl -sS \
       --cacert /

[2021-05-19 17:04] maraino commented on #34
@JackSinclairT I'm not sure right now, but I believe this error was introduced by a PR that we accepted, and later noticed it had that error. We fixed it a month ago but we never create a release.

I'll make sure this is fixed and generate a new release.

[2021-05-19 18:11] jack4it commented on #4
The projected token feature is widely available at this point I think. Tried on AKS, works. EKS/GKE has it as well based on quick googling. it's a **stable** feature already

yes, in the admission hook, we need to add a **projected volume** to request a token that will be put into the container at a specified location, with a specific audience, etc. The token looks like this:

[code]

Notice the n

[2021-05-19 20:06] maraino commented on #34
@JackSinclairT this should be fixed by updating the image to 0.15.0 or using the chart 1.15.0

[2021-05-19 20:06] #34 closed

[2021-06-02 16:47] asaorgad opened #35 "Can someone Solve certificate authority unknown, dex argo-server"
I'm trying to run argo-workflows with sso mode,
When running it with sso mode , the argo-server runs into crashloopback state , the logs of it throws: "x509: certificate signed by unknown authority"

I've found some discussion regarding the same problem here:
https://github.com/argoproj/argo-workflows/issues/4447#issue-735227066

There's a suggetion for workaround to fix it here:
https://github.co

[2021-06-03 16:57] giordyb commented on #35
The CA certs should be already generated when you installed your SSL certs your OIDC provider. Autocert will not help here because the issue is not with Argo but with the way your provider  is setup.

As an example here is how SSL is enabled on Keycloak: https://www.keycloak.org/docs/latest/server_installation/index.html#_setting_up_ssl

[2021-06-25 11:25] jodygilbert opened #37 "Allow using own root cert"
### What would you like to be added
The option to use our own private root CA with autocert.

### Why this is needed
We currently use step-certificates with our own root CA from our of our internal PKI.  I'd like to be able to do the same with autocert so that all our clients trust the certs generated by autocert.

I've tried to do this by updating the following items:
* autocert-autocert-config
*

[2021-06-26 04:33] jodygilbert commented on #37
I'm closing this, I found the manual installation instructions to get this working.

[2021-06-26 04:33] #37 closed

[2021-08-16 04:48] thestupendous commented on #34
I am still facing this issue. I tried using 0.15.0 image, but it still is giving the same error.

[2021-08-20 19:48] roertel opened #38 "autocert health check fails because of wrong name"
### Subject of the issue
The Autocert container fails to start when the health check GET returns a certificate with the wrong name.
[code]

### Environment
* Kubernetes version: K3s 1.21
* Cloud provider or hardware configuration: Single node on dedicated 64-bit home server
* OS (e.g., from /etc/os-release): Debian 10 / Buster
* Kernel (e.g., `uname -a`): `Linux k3s 5.6.0-1-amd64 #1 SMP Debian 5.6

[2021-09-13 19:53] wilsondy opened #39 "Cipher order prevents certs pod from starting"
### Subject of the issue
Cipher order complaints from step-certificates nixes startup

### Environment
* Kubernetes version: 1.19 Server
* Cloud provider or hardware configuration:  EKS/Fargate
* OS (e.g., from /etc/os-release):
NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.11.11
PRETTY_NAME="Alpine Linux v3.11"
* Kernel: Linux 4.14.243-185.433.amzn2.x86_64 #1 SMP x86_64 Linux
* Install tools: Helm v

[2021-09-13 20:07] maraino commented on #39
This is the problematic code:

https://github.com/smallstep/autocert/blob/2dd1463a3e0fe39734ea7801d11e2a263f3d76b0/examples/hello-mtls/go-grpc/server/server.go#L104-L115

It's very possible that recompiling this with Go 1.17 will automatically solve the issue (see https://github.com/golang/net/commit/16afe75a67018f578ea3b729f98dc2d82e127ddf), but in any case, we should probably add TLS 1.3 cipher

[2021-09-14 02:26] #39 closed

[2021-09-15 15:37] roertel commented on #38
This issue may be related to a specific config on my network and not in this software. I have a wildcard DNS which seems to be causing the health check URI to resolve improperly.

My solution is to set `ndots: 4` in the deployment to force FQDN resolution. An alternative solution would be to add a trailing dot to the health check URI in _helpers.tpl in the second to last line: `printf "https://%s-

[2021-09-15 15:37] #38 closed

[2021-10-10 12:59] amitnoph opened #41 "Autocert install directory reference old versions"
### Subject of the issue
The install directory contain yaml files with reference to old versions of step-ca:0.15.11 instead of 0.17.2 and autocert-renewer/bootstrapper:0.14.0 instead of 0.15.1

### Expected behaviour
Refer to the updated version as described in the latest release: 0.17.2

### Actual behaviour
Refer to the old versions

[2021-10-14 00:24] #41 closed, assigned to maraino

[2021-12-13 20:35] hiattp opened #46 "Recommended way to handle autocert failures"
Apologies if this is obvious (I'm new to k8s in general) but what do you recommend for managing cert acquisition failures? I don't know why we see this so frequently but in a non-trivial number of pod boot-ups we see some kind of failure in sourcing certs and get into a perpetual (or at least long-running) `CrashLoopBackoff` on the pod, the cert container doesn't recover:

<img width="979" alt="Sc

[2021-12-15 00:01] maraino commented on #46
The container `autocert-bootstrapper` is the one that creates that file, you might be able to see the reason why the file is not there using `-c autocert-bootstrapper`.

I've also noticed that you're running an old version of the renewer (0.12.2), the latest version is (0.15.1). That might be related, but I'm not sure.

[2021-12-15 00:30] maraino commented on #46
In that specific test where the file is not there, my recommendation is just to restart the pod after figuring out why the file is not there, was it created by autocert-bootstrapped? did somebody move it later?

In other error scenarios where the certificate has expired, you can also restart or manually create the certificate using:
[code]

You can also recover the root using
[code]

You might nee

[2021-12-15 17:28] hiattp commented on #46
Thanks @maraino really appreciate the guidance. I'll look into the `autocert-bootstrapper` logs and upgrade to the latest version of autocert but while investigating our latest crash loop backoffs it seems like the more common scenario is that for some reason pods annotated with `autocert.step.sm/name: myapp.svc.cluster.local` don't receive the `autocert-bootstrapper` init container under some con

[2021-12-15 17:28] #46 closed

[2021-12-15 20:33] maraino commented on #46
@hiattp You can use multiple replicas of autocert to ensure a rollout restart if for example you're upgrading to a new version.

[2022-02-11 13:03] com98 opened #47 "Add Support for Kubernetes v1.22+"
### Subject of the issue
Hi!

I recently tried setting up autocert! I really like the idea and think the project itself is pretty cool! However, I encountered a problem when trying to setup Kubernetes in my Kubernetes v1.23.3 cluster and I'd appreciate if you could have a look.

The general problem is that Kubernetes removed the `admissionregistration.k8s.io/v1beta1` API - instead recommends to us

[2022-02-11 19:33] maraino commented on #47
Currently, autocert helm chart installs step-certificates by default, but this is deprecated and will be removed at some point. Here are instructions on how to configure autocert with your own CA and if the `ca` block is passed the `step-certificates` won't be installed.

[2022-02-14 07:28] com98 commented on #47
Thanks a lot! Using the Helm chart did the trick.

[2022-02-14 07:28] #47 closed

[2022-04-02 18:36] cpdeethree opened #48 "Allow option to expose mounted certs as secret"
### What would you like to be added

In some cases it's nice to be able to have certs available as a secret in addition to or instead of a volume mount. One use case I ran into is when I was bootstrapping timescaledb-kubernetes. In this helm chart, you can only specify certs as environment variables (secrets.certificate) or as an existing secret (secrets.certificateSecretName) when bootstrapping:

[2022-04-06 17:05] jonathan-klein-da opened #49 "Manual Installation Documentation Issue"
### Subject of the issue
Following the manual steps for installing autocert into a kubernetes cluster we are asked to generate a /tmp/step.xxx directory. After generating the CA and Provisioner, creating the configmaps/secrets, and deploying the ca and autocert pods, I've run into an issue where the CA pod references /tmp/step.xxx directory insted of /home/step
### Environment
* Kubernetes version

[2022-04-06 17:22] jonathan-klein-da commented on #49
I was able to figure out the issue. I had to update configuration in `/tmp/step.xxx` to `/home/step`

This section in the documentation is problematic:
[code]
How do you know if you have an older version of step?

[2022-04-07 17:50] BhasherBEL opened #50 "Error loading provisioner"
### Subject of the issue
I followed the manual install steps provided [here](https://github.com/smallstep/autocert/blob/master/INSTALL.md#manual-install) and get an error when deploying `autocert` pod:
`Error loading provisioner: client GET https://ca.step.svc.cluster.local/health failed: Get \"https://ca.step.svc.cluster.local/health\": dial tcp: lookup ca.step.svc.cluster.local: Try again`
[code

[2022-04-08 22:03] maraino commented on #48
Hi @cpdeethree, the current version of autocert is not designed to write data to secrets, for that we will require to convert autocert into a different tool, basically a k8s controller/operator, very similar to cert-manager + step-issuer. The current implementation runs as a sidecar container and obtains and renews the certificate in a fixed path.

I would love to see autocert to have that functio

[2022-04-09 12:17] GitHubFor122 commented on #35
this issue block me for 3 month

[2022-04-11 20:16] maraino commented on #49
That documentation is 2 years old, I'm not sure what is referring to. The last released version is [v0.18.2](https://github.com/smallstep/cli/releases/tag/v0.18.2) (`step version`).

My recommendation to install autocert is to always use the [helm charts](https://github.com/smallstep/helm-charts/tree/master/autocert) with an existing deployment of `step-certificates`, that requires you to pass the

[2022-04-14 05:08] #49 closed

[2022-04-14 05:12] dopey commented on #49
I linked that section of the documentation to our Github Releases page. Hopefully folks can check the latest release and see if they're far behind.

[2022-04-14 05:19] dopey commented on #50
Hey @BhasherBEL, thanks for opening the issue!

What's happening here is that the admission controller that runs before the container initializes is trying to reach out to the CA to get the provisioner information, but the request is failing. We believe this could happen for one of a couple reasons:

1. Your `step-ca` instance is misconfigured and not responding to requests. Are there logs for `st

[2022-04-23 13:44] BhasherBEL commented on #50
Thank you for your answer and your propositions.
1. I tried to find as more logs I can and didn't find more. Where can I look for more logs ?
2. I think it's not DNS related, as I cannot contact the CA even with IP. And if I use dig to resolve the CA domain in the container is able, the cluster give the right answer.

Thank's !

[2022-04-30 20:20] dopey commented on #50
Hey @BhasherBEL, depending on how you've deployed autocert, there will be a `step-ca` pod running in the cluster that you can tail for logs the same way you would any other pod (`kubectl log ...`). The namespace the pod is in will depend on exactly how you've deployed, so unfortunately you'll have to look around.

[2022-05-18 06:14] imageschool opened #52 "Certificates are not injected anymore after master node migration"
### Subject of the issue
I have recently migrated master node from on-prem to EC2 by using old master's etcd snapshot following below tutorial on RKE2.
- [Restoring a Snapshot to New Nodes](https://docs.rke2.io/backup_restore/#restoring-a-snapshot-to-new-nodes)

Seems like the overall cluster information is migrated & restored properly however autocert certificates are not anymore injected to pods

[2022-05-18 22:23] #50 closed

[2022-05-19 07:37] imageschool commented on #52
Could it be because of this change?  If so, what should I do to make it use admissionregistration.k8s.io/v1 instead of admissionregistration.k8s.io/v1beta1

![image](https://user-images.githubusercontent.com/29969006/169238298-a4e723c1-f29a-4d42-90de-e3470f68f086.png)

[2022-05-19 17:24] maraino commented on #52
@areed Can you confirm if this is still valid for new versions?
https://github.com/smallstep/helm-charts/blob/15d9779c17dafeffbc90010f124deb7d488d814c/autocert/templates/webhook.yaml

[2022-05-19 22:36] areed commented on #52
The only difference in the official helm chart is `sideEffects: NoneOnDryRun`. I've updated the yaml I posted above to match.

[2022-05-20 01:55] imageschool commented on #52
[code]
Above is my current MutatingWebhookConfiguration when I `kubectl edit mutatingwebhookconfiguration/autocert-autocert-webhook-config`
- sideEffects is already NoneOnDryRun but still not working as expected :/

Also my kubeapi log shows autocert webhook error like below
[code]

[2022-05-20 15:08] areed commented on #52
You'll need to determine why the Kube API server cannot connect to autocert in the `akros-cert` namespace. Some things to try:

- `kubectl -n akros-cert get endpoints autocert`
- `kubectl -n akros-cert logs deployment/autocert`
- `kubectl -n akros-cert port-forward service/autocert 8443:443` then attempt to curl localhost:443

[2022-06-01 19:24] Moosemorals opened #53 "Private key permissions too permissive"
### Subject of the issue
Postgres fails to start because the permission on the key is too loose (0644)

### Environment
* Kubernetes version: k3s version v1.23.6+k3s1
* Cloud provider or hardware configuration: Mythic Beasts
* OS (e.g., from /etc/os-release): Debian 11
* Kernel (e.g., `uname -a`): 5.10.0-14-amd64
* Install tools:
* Other:

### Steps to reproduce
Install autocert
Create a deploymen

[2022-06-07 21:39] #53 closed

[2022-06-08 17:49] Moosemorals commented on #53
This looks great, thanks!

Any idea when the next release is going to be posted?

[2022-06-11 06:44] Moosemorals opened #56 "Fail to build from source: Confused paths in Dockerfile"
### Subject of the issue
autocert/controller fails to build from source:

### Environment
* Kubernetes version: v1.23.6+k3s1
* Cloud provider or hardware configuration: Mythic Beasts, 2 core/4GB
* OS (e.g., from /etc/os-release): Debian GNU/Linux 11 (bullseye)
* Kernel (e.g., `uname -a`): 5.10.0-14-amd64
* Install tools:
* Other:

### Steps to reproduce
[code]
### Expected behaviour
autocert/contr

[2022-06-11 15:06] Moosemorals commented on #56
Update: It's not the docker file, it's the docs :smile:

[code]

[2022-06-15 18:44] #56 closed

[2022-06-15 18:45] tashian commented on #56
Thanks @Moosemorals, I've confirmed this issue and have fixed it in the README.

[2022-06-16 02:20] imageschool opened #58 "[How can I make my services to use renewed certificates automatically?]"
### Subject of the issue
I have installed 'autocert' through the helm chart, which works very well. (Thank you to the community)

I am then providing these certificates to my other k8s services such as code-server or Elastic Kibana so they can have the TLS support. I know that the maximum duration of the certificate is 24h and the renewer is renewing them, however, how can I let those services pic

[2022-06-16 02:34] maraino commented on #58
Most of the servers will require you to send a signal so they can re-read the configuration and use the new certificates.

The best way to achieve that is to include in your image an inotify-based tool that monitors the certificates and reloads the configuration in the server. See for example how [`certwatch.sh`](https://github.com/smallstep/certificates/blob/7d119c23fc366c946e530901958c02a2c678d7

[2022-06-16 05:22] imageschool commented on #58
@maraino Right, thank you, I will try them out and let you know!

[2022-06-17 05:22] imageschool commented on #58
@maraino

![image](https://user-images.githubusercontent.com/29969006/174230288-9bc18571-eeff-47ef-9e66-b07ad4373945.png)

My code-server is running as above and the code-server doesn't seem to provide any reload/restart options.
What would you suggest if such reload/restart commands do not exist?
Do I need to manually kill all those and restart?

[2022-06-17 19:08] maraino commented on #58
That's an option but if you control the code of that code-server you can make it work, let me look for some docs.

[2022-06-17 19:18] maraino commented on #58
@imageschool I believe you can use something like this https://github.com/nodejs/node/issues/15115#issuecomment-326257131 to reload a new secure context when the files change, and you can monitor the files changes using an API like https://nodejs.org/docs/latest/api/fs.html#fswatchfilename-options-listener

[2022-06-17 19:30] maraino commented on #58
Closing this issue for now. Feel free to open a discussion on https://github.com/smallstep/certificates/discussions if you need more help on this.

[2022-06-17 19:30] #58 closed

[2022-06-20 02:10] imageschool commented on #52
It was an issue of our master node being unable to communicate with other worker nodes.

While migrating we also set up an OpenVPN; by default, flannel was picking up the wrong interface.

 Fixed it by setting flannel default iface to tun0.

Closing this issue, thank you for your support!

[2022-06-20 02:10] #52 closed

[2022-06-30 02:16] imageschool commented on #58
@maraino You must be busy, but would you mind checking [https://github.com/smallstep/certificates/discussions/965](https://github.com/smallstep/certificates/discussions/965)?

[2022-06-30 05:04] imageschool commented on #58
I resolved the issue by increasing the duration to one year in Configmap by following below.

- [https://github.com/smallstep/certificates/discussions/425](https://github.com/smallstep/certificates/discussions/425)
- [https://github.com/smallstep/certificates/discussions/401](https://github.com/smallstep/certificates/discussions/401))

[2022-09-16 14:45] alieniasty opened #60 "Boostrapper keeps failing due to missing secret"
### Subject of the issue
I'm using autocert in 3 of my pods. In 2 of them everything works great, the cert is injected into the container with no problems, however in one of them (the only one that has custom init containers) I'm constantly getting `Error: secret "podname-d8dt8" not found` error.

From the _kubectl describe pod_ I see:

`STEP_TOKEN:        <set to the key 'token' in secret 'podnam

[2022-09-16 19:01] maraino commented on #60
Hi @alieniasty, Can you provide a full yaml that I can execute test your use case, for example, this deployment with an init container and service account works as exected:
[code]

[2022-09-17 16:22] alieniasty commented on #60
Thanks for such a quick response. The following manifest after necessary obfuscation pretty much sums up my deployment.

[code]

To be honest I'm running out of ideas where should I look.

[2022-09-17 18:44] maraino commented on #60
Allows you to add extra subject alternative names (SAN) comma-separated, if you don't define it, `name` will be the only SAN and the common name, but if you define `sans`, `name` is the common name and `sans` will be the subject alternative names.

I just added it because it was easier for me to test it, but in most cases is not necessary.

[2022-09-17 18:46] maraino commented on #60
By the way, does my example works for you, the server is the mTLS server in the readme, you won't be able to connect to it without a client certificate. But as long as the pod's status is running it should work.

[2022-09-19 10:29] alieniasty commented on #60
Yes, the example is working fine. I've also found an additional error in the pod logs:

[code]

[2022-09-19 12:27] alieniasty commented on #60
Okay, sorry, I found what was wrong. The issue was my own network policy for the pod. For whoever comes here, please remember to allow pod traffic to and from the _step_ namespace.

[2022-09-19 12:27] #60 closed

[2022-11-05 10:30] chris-lee-lb opened #67 "Autocert: support multiple roots feature"
### What would you like to be added

Need a way to also keep sync the latest root bundles from step-ca server. A simple idea is that maybe we can use `step ca new --exec` to execute `step ca roots`.

### Why this is needed

To support step-ca support multiple roots feature.

[2022-11-05 10:32] chris-lee-lb commented on #67
this features may also support step-ca federation feature as https://github.com/smallstep/autocert/issues/21

[2022-11-05 12:16] chris-lee-lb commented on #67
Or maybe we can make `ca.certs.root_ca.crt` of values.yaml can accept multiple pem files.

Currently I faced this error - `CA fingerprint: error decoding /home/step/certs/root_ca.crt: contains more than one PEM encoded block`.

Looks like autocert want to insert env var - `STEP_FINGERPRINT` when controller inject renewer sidecar, but I can not find any information that `STEP_FINGERPRINT` env is mu

[2022-11-09 18:55] maraino commented on #67
Changing the code to avoid that error and support multiple files is quite simple. This is the code that shows that message:
https://github.com/smallstep/autocert/blob/f3ba90f9749a53e7ed1d97ab6a6962fedc4a5aed/controller/main.go#L265-L271

Assuming that the first certificate is the one used, to support multiple certs we will do something like this:
[code]

That will solve that error message, the mai